# Example .env file
# You should replace these values and rename this file .env
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_USER=tatou
MARIADB_PASSWORD=tatou
FLAG_2=daa78635c0013b09af8e005cb834825fa4da6ba4
